@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i&display=swap');

html {
  width: 100%;
  height: 100%;
  touch-action: none;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  width: 100%;
  height: 100%;
  /* display: flex; */
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  width: 15em;
  height: 15em;
  background: #b3e5fc;
  border-radius: 5px;
  background-position: center center;
  box-shadow: 5px 15px 15px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.7s;
  will-change: transform;
  border: 8px solid white;
  margin: 10px;
}

.card:hover {
  box-shadow: 5px 25px 25px -20px rgba(0, 0, 0, 0.6);
}

/* .MuiTypography-h3, .MuiTypography-h5, .MuiTypography-body2 {
  font-family: 'Fira Sans', sans-serif !important;
} */



hr{
  background-color: #888;
}